* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.contact {
    position: relative;
    min-height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1828&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.contact-content {
    max-width: 800px;
    text-align: center;
}
.contact-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact-content p {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}
.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact-text h3 {
    font-weight: 500;
    color: #00bcd4;
}
.contact-text p {
    font-weight: 500;
    color: #fff;
}
.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.inputbox {
    position: relative;
    margin-top: 100%;
    margin-top: 10px;
}
.inputbox input , textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputbox input:focus ~ span ,
.inputbox input:valid ~ span ,
.inputbox textarea:focus ~ span ,
.inputbox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
#contactus {
    color: #00bcd4;
    font-weight: 500;
}


